<div class="p-5 mb-4 text-white bg-dark rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold tituloabout">Tutorial HTML</h1>
      <hr>
      <p class="fs-4">Este sitio contiene un pequeño tutorial sobre las características más importantes 
          de HTML, con la intención de que las personas interesadas en aprender dicho lenguaje puedan 
          usarlo como punto de partida significativo y de esta forma se lleven los conocimientos básicos 
          necesarios para empezar a trabajar con dicho lenguaje. 
      </p>
      <hr>
      <p class="fs-4 firmaabout">  
          Luis A. Rubio Díaz
      </p>
      
    </div>
  </div>
