<div class="accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h3 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button-collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          ¿Qué es HTML?
        </button>
      </h3>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <p class="texto-normal">
                HTML es el lenguaje de marcado estándar para crear páginas web, que actualmente está en su quinta revisión
                la cuál en conjunto con CSS (el cuál no será abordado en este tutorial), define los nuevos estándares del desarrollo 
                web, rediseñando el código para resolver problemas y actualizándolo así a nuevas necesidades. Con esto no se limita 
                solamente en nuevas etiquetas o atributos, sino que se incorporan muchas caracteristicas nuevas y proporciona una 
                plataforma robusta de desarrollo de complejas aplicaciones web.  
            </p>
            <br>
            <ul>
                <li class="texto-normal">
                    HTML describe la estructura de una página Web.
                </li>
                <li class="texto-normal">
                    HTML consta de una serie de elementos los cuales le indican al navegador cómo mostrar el contenido.
                </li>
            </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h3 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button-collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Estructura de una página HTML
        </button>
      </h3>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <div class="w3-code notranslate htmlHigh texto-normal">
                &lt;!DOCTYPE html&gt;<br>
                &lt;html&gt;<br>&lt;head&gt;<br>&lt;title&gt;Page Title&lt;/title&gt;<br>
                 &lt;/head&gt;<br>
                &lt;body&gt;<br><br>&lt;h1&gt;My First Heading&lt;/h1&gt;<br>&lt;p&gt;My first paragraph.&lt;/p&gt;<br><br>
                    &lt;/body&gt;<br>&lt;/html&gt;
            </div>
            <div>
                <h3 class="head-normal">
                    Explicación de la estructura de la página
                </h3>
                <ul class="texto-normal">
                    <li>La Línea <code class="w3-codespan">&lt;!DOCTYPE html&gt;</code> define que el documento
                        es un documento de HTML 5.
                    </li>
                    <li>Los elementos <code class="w3-codespan">&lt;html&gt; &lt;/html&gt; </code> son los elementos raíz de un documento HTML. 
                    </li>
                    <li>Los elementos <code class="w3-codespan">&lt;head&gt; &lt;/head&gt;</code> contienen meta información sobre la página  
                         HTML.
                    </li>
                    <li>Los elementos <code class="w3-codespan">&lt;title&gt; &lt;/title&gt;</code> son los que especifican el titulo para la 
                         página HTML. (El cual se muestra en la barra de titulo del navegador)
                    </li>
                    <li>Los elementos <code class="w3-codespan">&lt;body&gt; &lt;/body&gt;</code> definen el "cuerpo" de la página HTML, 
                         es decir son el "contenedor" de todos los elementos visibles de la página tales como: encabezados, párrafos, 
                         imagenes, hypervinculos, tablas, listas, etc.
                    </li>
                </ul>
            </div>
        
        <hr>
            <div>
                <p class="texto-normal">
                    A continuación se muestra una imagen con un ejemplo de estructura de una página HTML:
                </p>
                <img src="../../../assets/img/Page-HTML.PNG" alt="Estructura de una página web.">
            </div>
        </div>
      </div>
    </div>
  </div>
  
