 <div class="p-5 mb-4 text-white bg-dark rounded-3">
    <div class="container-fluid py-5">
      <div class="row">
          <div class="column-1-of-2">
              <img class="img-flex" src="../../../assets/img/LogoTUA.jpg" alt="Logo TUA">
          </div>
          <div class="column-1-of-2">
            <h1 class="fw-bold titulohome">Tecnológico Universitario Aguascalientes</h1>
          </div>
      </div>
      <hr>
      <h1 class="display-5 fw-bold titulohome">Proyecto Final - Mini Tutorial HTML</h1>
      
      <p class="col-md-8 fs-4">Docente: Ing. José Eduardo Valdez Rodríguez / Desarrollo Web Básico</p>
      <p class="col-md-8 fs-4">Alumno: Luis Alberto Rubio Díaz </p>
    </div>
  </div>
