<div class="accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h3 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button-collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Listas HTML
        </button>
      </h3>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <p class="texto-normal">
                Las listas HTML permiten agrupar un conjunto items relacionados en listas. Y dichas listas pueden ser ordenadas o no ordenadas. 
            </p>
            <div>
              <h2 class="head-normal">Listas No Ordenadas</h2>
              <p>
                Estas listas inician con el elemento <span class="html_Sample">&lt;ul&gt;</span> y cada uno de los items de la lista inicia con el elemento <span class="html_Sample">&lt;li&gt;</span>.
                Cada uno de los items de la lista tendrá por default un bullet (pequeño circulo negro).
              </p>
              <div>
                &lt;ul&gt;<br>
                &nbsp;
                &lt;li&gt;Coffee&lt;/li&gt;<br>&nbsp; &lt;li&gt;Tea&lt;/li&gt;<br>
                &nbsp;
                &lt;li&gt;Milk&lt;/li&gt;<br>
                &lt;/ul&gt;
                </div>              
            </div>
            <hr>
            <div>
              <h2 class="head-normal">Listas Ordenadas</h2>
              <p>
                Estas listas inician con el elemento <span class="html_Sample">&lt;ol&gt;</span> y cada uno de los items de la lista inicia con el elemento <span class="html_Sample">&lt;li&gt;</span>.
                Cada uno de los items de estas listas serán marcados por números de forma automática.
              </p>
              <div>
                &lt;ol&gt;<br>
                &nbsp;
                &lt;li&gt;Coffee&lt;/li&gt;<br>&nbsp; &lt;li&gt;Tea&lt;/li&gt;<br>
                &nbsp;
                &lt;li&gt;Milk&lt;/li&gt;<br>
                &lt;/ol&gt;
                </div>              
            </div>            

        </div>
      </div>
    </div>
  </div>
