<div class="accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h3 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button-collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Encabezados HTML
        </button>
      </h3>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <p class="texto-normal">
                Un elemento HTML casi siempre va a estar definido por un tag de inicio, contenido y un tag de cierre.
            </p>
            <div>
                <span class="spes_tagname"><span class="spes_tag">&lt;</span>TagHtml<span class="spes_tag">&gt;</span></span>Contenido del elemento<span class="spes_tagname"><span class="spes_tag">&lt;</span>/TagHtml<span class="spes_tag">&gt;</span></span>
            </div>

            <br>
            <p class="texto-normal">
                Algunos ejemplos de elementos HTML se muestran a continuación:
            </p>

            <div>
                <span class="spes_tagname"><span class="spes_tag">&lt;<span class="spes_tagname">h1</span>&gt;</span></span>
                   Ejemplo de encabezado<span class="spes_tagname"><span class="spes_tag">&lt;</span>/h1<span class="spes_tag">&gt;</span>
                </span>
            </div>

            <div >
                <span class="spes_tagname"><span class="spes_tag">&lt;</span>p<span class="spes_tag">&gt;</span></span>
                     Ejemplo de párrafo.<span class="spes_tagname"><span class="spes_tag">&lt;</span>/p<span class="spes_tag">&gt;</span>
                </span>
            </div>

            <br>
            <h2 class="head-normal">
                Nunca omitir el tag de cierre de los elementos HTML:
            </h2>
            <p class="texto-normal">
                En algunas ocasiones algunos elementos HTML se desplegaran de forma correcta aun y cuando se omita el tag de cierre de dicho
                elemento, sin embargo no se debe de confiar en que esto siempre sucederá de esta forma, ya que pueden presentarse resultados y
                errores innesperados cuando se olvida colocar el tag de cierre.
            </p>

            <h2 class="head-normal">
                Los elementos HTML no son case sensitive.
            </h2>
            <p>
                Esto quiere decir que NO existe diferencia alguna entre letras mayúsculas y minúscular por lo tanto:
            </p>
            <p class="texto-normal">
                El: <code class="w3-codespan">&lt;P&gt;</code> significa exactamente lo mismo que <code class="w3-codespan">&lt;p&gt;</code>.
            </p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h3 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button-collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Elementos HTML vacíos
        </button>
      </h3>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <div>
                <p class="texto-normal">
                    Hay elementos HTML que no requieren contenido y son llamados elementos vacíos, los cuales tampoco llevan
                    un tag de cierre, a continuación se muestran algunos de estos elementos:
                </p>
                <ul class="texto-normal">
                    <li>
                        El elemento <code class="w3-codespan">&lt;br&gt;</code> realiza un salto de linea, y es un elemento vacío que no requiere tag de cierre.
                    </li>
                    <li>
                        El elemento <code class="w3-codespan">&lt;hr&gt;</code> inserta una línea recta, y también es un elemento vacío que no requiere tag de cierre.
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>

